/*  css file for SVM-C1 */
.container {
  overflow: hidden;
}
/* opening screen style */
.opening {
  text-align: center;
  display: none;
}
.opening .daikin-logo {
  width: 80px;
  vertical-align: top;
}
.opening .vrv-logo {
  margin-top: 10px;
  width: 300px;
}
.opening .subtitle {
  font-size: 42px;
  font-style: italic;
}
.model {
	display: none;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
}
.model .version {
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.model #internet {
  font-size: 12px;
  margin-left: 5px;
  display: none;
}
.login-panel {
  display: none;
  text-align: center;
}
.login-panel input {
  display: block;
  margin: 5px auto;
}
.login-panel #login {
  padding: 5px 30px;
}
.login-panel .register {
  display: none;
}

/* screen area style */
/* contents area */
.contents-area {
  display: block;
  /* never change margin and padding */
  margin: 0;
  padding: 0;
  overflow: auto;
}
.contents-area.noscrlbar {
  overflow-x: hidden;
  overflow-y: hidden;
}

.cell-area {
  text-align: center;
}

/* operation screen style */
.operation-panel {
  text-align: center;
}
.top-area {
  font-size: 40px;
  color: white;
  padding: 10px 0;
}
.left-area {
  display: inline-block;
  width: 80px;
  height: 300px;
  vertical-align: top;
  margin-right: 20px;
}
.left-area .img-button {
  margin: 30px 0 10px 0;
}
.left-area .filter {
  width: 40px;  
  display: none;
}
.center-area {
  display: inline-block;
}
.center-area.vam-op {
}
.center-area.vam-op img {
  margin-top: 140px;
}
.center-area.vam-op .filter {
  display: none;
}
.right-area {
  display: inline-block;
  width: 100px;
  height: 300px;
  vertical-align: top;
  margin-left: 20px;
}
.right-area .img-button {
  margin: 30px 0 10px 0;
  text-align: center;
}
.right-area .off-timer-duration {
  display: inline-block;
  text-align: center;
}
.right-area .off-timer-duration .subtitle {
  font-size: 16px;
}
.right-area .off-timer-duration .current-val {
  width: 80px;
  display: inline-block;
}
.single-area {
}
.single-area .img-button {
  display: block;
  margin: 10px auto;
}
.single-area .status {
  width: 120px;
  margin-bottom: 30px;
}
.single-area #analog-val {
  margin-top: 20px;
}
.single-area #r-val {
  margin-top: 20px;
}
.single-area #g-val {
  margin-top: 20px;
}
.single-area #b-val {
  margin-top: 20px;
}
.single-area #w-val {
  margin-top: 20px;
}
.single-area .block {
  display: inline-block;
  vertical-align: middle;
}

.single-area .block .slide-ctrl .val {
  display: block;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  font-size: 28px;
}

#vrv-ctrl {
  position: absolute;
  bottom: 50px;
  left: 40px;
}
#vrv-ctrl .title-frame {
  display: inline-block;
  margin: 20px 10px 0px 10px;
}
#vrv-ctrl table .selectable-input {
  width: 80px;
}
#vrv-ctrl .button-area {
  text-align: right;
  margin-top: 5px;
  margin-bottom: -5px;
}
#vrv-ctrl table tr {
  vertical-align: baseline;
}
#vrv-ctrl table td {
  border: 0;
}
#vrv-ctrl .selectable {
  opacity: 0.5;
}
#vrv-ctrl .selectable.checked {
  opacity: 1;
}
#vrv-ctrl .switch {
  cursor: pointer;
}
/* schedule screen style */
#schedule #prog-list {
  margin: 10px 10px 10px 15px;
  width: 280px;
  /* height is controlled by resize method */
}
#schedule .check .checked img {
  opacity: 1;
}

#schedule #prog-content {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 667px;
  min-height: 300px;
  /* height are controlled by resize method */
}
#schedule .button-area {
  float: right;
}
#schedule .add {
  text-align: center;
}
#schedule .inline {
  display: inline-block;
}
#schedule #prog-content input {
  width: 260px;
}
#schedule #prog-content #ctrl-target {
  float: left;
}
#schedule #prog-content #sched-list {
  float: right;
  margin-top: 4px;
}
#schedule #prog-content #ctrl-target .list {
  width: 200px; 
  /* height is controlled by resize method */
}
#schedule #prog-content #sched-list .multi-col-list {
  width: 440px; 
  /* height is controlled by resize method */  
}
#schedule #prog-content #sched-list .multi-col-list .sched-name {
  width: 280px;
  border: 0;
}
#schedule #prog-content #sched-list .multi-col-list .sched-name td{
  border: 0;
}
#schedule #prog-content #sched-list .multi-col-list .dow {
  width: 160px;
}
#schedule #prog-content #sched-list .dow-name {
  font-size: 16px;
  color: white;
  background-color: royalblue;
  margin: 0 1px;
  padding: 3px 3px 1px 3px;
  text-align: center;
  border-radius: 3px;
}

#schedule #patn-set {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;  
  width: 750px;
}
#schedule #patn-set .panel {
  display: inline-block;
  vertical-align: top;
}
#schedule #patn-set .button-area {
  float: none;
  text-align: right;
}
#schedule #patn-set #patn-list {
  width: 180px;
}
#schedule #patn-set #daily-patn {
  opacity: 1;
}
#schedule #patn-set #daily-patn.hide {
  opacity: 0.3;
}
#schedule #patn-set #daily-patn .button-area .button {
  font-size: 14px;
  padding: 1px 5px;
}
#schedule #patn-set #daily-patn .multi-col-list {
  width: 480px;
}
#schedule #patn-set #daily-patn .time {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-top: 5px;
}
#schedule #patn-set #daily-patn .action {
  width: 450px;
}
#schedule #patn-set #daily-patn .sched-img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
#schedule #patn-set #daily-patn .sched-sub-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-left: 5px;
}
#schedule #patn-set #daily-patn .sched-val {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-bottom: -5px;
}
#schedule #patn-set #daily-patn .sched-unit {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: -5px;
}

#schedule #action-set {
  position: absolute;
  top: 110px;
  left: 40px;
  width: 680px;
}
#schedule #action-set #time-set {
  font-size: 32px;
  color: white;
  margin: 10px 0 10px 20px;
}
#schedule #action-set .current-val {
  font-size: 32px;
  padding: 5px 10px 0;
  margin: 0;
}
#schedule .an-action {
  display: inline-block;
  padding: 10px 5px 5px 10px;
}
#schedule #action-set .an-action li {
  opacity: 1;
}
#schedule #action-set .an-action .img-button {
  width: 40px;
  vertical-align: middle;
  margin-top: -7px;
}
#schedule #action-set .an-action .current-val {
  font-size: 28px;
}
#schedule #action-set .an-action .unit {
  font-size: 20px;
  color: white;
}
#schedule #action-set .an-action .selectable-img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
}
#schedule #action-set .an-action .selectable-img img {
  width: 50px;
  border: none;
}
#schedule #action-set .an-action .current-val {
  width: 50px;
}
#schedule #action-set .an-action #sbhsp {
  margin-left: 15px;
}

#schedule #day-assign {
  position: absolute;
  top: 10px;
  right: 370px;
}
#schedule #day-assign .item-title {
  margin-bottom: 30px;
}
#schedule #day-assign .title-frame {
  display: inline-block;
}
#schedule #day-assign .checked img {
  opacity: 1;
}
#schedule #day-assign #sp-cal {
  margin-top: 20px;
}
#schedule #day-assign #sp-cal .list-title {
  display: inline-block;
  margin-bottom: 8px;
}
#schedule #day-assign #sp-cal #select {
  display: inline-block;
  font-size: 14px;
  padding: 3px 10px;
  float: right;
}
#schedule #day-assign #sp-cal .list {
  height: 225px;
}

#schedule #cal-set {
  position: absolute;
  top: 10px;
  right: 50px;
}
#schedule #cal-set #cal-name {
  clear: both;
  display: block;
}
#schedule #cal-set .sqr {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
#schedule #cal-set .sqr#sp_d {
  background-color: yellow;
}
#schedule #cal-set .sqr#sp_w {
  background-color: lime;
}
#schedule #cal-set .legend {
  font-size: 16px;
  vertical-align: middle;
  margin: 5px 0 0 20px;
}

/* system setup screen */
#system .setup-area {
  padding: 20px;
}
#system .setup-area .setup {
  display: none;
}
#system .setup-area .title {
  font-size: 24px;
  color: white;
}
#system .setup-area #language {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#system .setup-area #dpoint {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 60px
}

#system .setup-area .passwdset input {
  vertical-align: top;
}
#system .setup-area .passwdset .button {
  vertical-align: top;
}

#system .setup-area .userset table {
  display: inline-block;
}

#system .setup-area .userset table input {
  width: 200px;
}

#system .setup-area .userset table td{
  border: 0;
} 

#system .setup-area #points .list {
  height: 150px;
  width: 200px;
  font-size: 18px;
}

#system .setup-area #limit {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 30px;
}

#system .setup-area .userset #usr-list {
  display: inline-block;
  vertical-align: top;  
  margin-left: 20px;
}
#system .setup-area .userset #usr-list .list {
  width: 300px;
  height: 270px;
}

#system .setup-area .userset .title-frame .title {
  font-size: 20px;
  color: white;
  margin: -30px 0 3px -5px;
}

#system .setup-area .pointset .inline-block {
  display: inline-block;
  vertical-align: top;
}
#system .setup-area .pointset .selectable-list .list {
  width: 280px;
  height: 300px;
}
#system .setup-area .pointset .op-panel {
  margin-left: 30px;
  text-align: center;
}
#system .setup-area .pointset #icon-sel {
  text-align: left;
  margin: 20px;
}
#system .setup-area .pointset .op-panel #icon-sel img {
  width: 80px;
}
#system .setup-area .pointset .op-panel #point-save {
  text-align: center;
}
#system .setup-area .pointset .op-panel #icon-sel .img-list {
  height: 240px;
}
#system .setup-area .pointset .op-panel #icon-sel .img-list li {
  height: 80px;
}

#system .setup-area .pointset .attribute {
  text-align: right;
  margin-top: -60px;
  display: none;
}
#system .setup-area .pointset .attribute input {
  width: 80px;
  font-size: 20px;
}

#system .setup-area .network td {
  padding-right: 30px;
}
#system .setup-area .network .slide {
  padding-left: 10px;
}
#system .setup-area .network .top-margin td {
  padding-top: 30px;
}
#system .setup-area .network .button {
  margin-left: 200px;
  margin-top: 30px;
}

#system .setup-area .clock td {
  padding-top: 15px;
  padding-right: 30px;
}
#system .setup-area #zone {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#system .setup-area .date-set #currentdate{
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#system .setup-area .time-set #time-hour, #time-minute{
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#system .setup-area .clock {
  color: white;
  font-size: 20px;
}

#system .setup-area .clock .button {
  margin-left: 120px;
  margin-top: 30px;
}

#system .setup-area .scrnset #screen-list {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
#system .setup-area .scrnset #screen-list .list {
  height: 300px;
}
#system .setup-area .scrnset .pnt-panel {
  display: inline-block;
}
#system .setup-area .scrnset #pnt-select {
  width : 250px;
}
#system .setup-area .scrnset #pnt-select #scrn-name {
  width: 235px;
}
#system .setup-area .scrnset #pnt-select .list {
  height: 255px;
}
#system .setup-area .scrnset .btn-panel {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 20px;
}
#system .setup-area .scrnset .btn-panel .button {
  display: block;
  margin-bottom: 10px;
}
#system .setup-area .scrnset .btn-panel #save {
  margin-top: 50px;
}

/* scenes start */
#system .setup-area .scenes .add {
  text-align: center;
}  
 
#system .setup-area .scenes #scenes-prog-list {
  width: 280px;
}

#system .setup-area .scenes #scenes-prog-content {
  position: absolute;
  top: 50px; 
  left: 80px;
  width: 350px;
  max-height: 510px;
  padding: 20px 10px;
  overflow: auto;
}

#system .setup-area .scenes #scenes-prog-content input {
  width: 330px;
}

#system .setup-area .scenes #scenes-prog-content #execute {
  width: 120px;
  padding: 20px;
  font-size: 35px;
  font-weight: bolder;
}

#system .setup-area .scenes #scenes-prog-content #sceneicon-sel {
  display: inline-flex;
  padding-left: 70px;
}

#system .setup-area .scenes #scenes-prog-content #sceneicon-sel img {
  display: block;
  width: 80px;
  height: 80px;
}

#system .setup-area .scenes #scenes-prog-content #sceneicon-sel .img-list {
  width: 100px !important;
  height: 200px;
}

#system .setup-area .scenes #scenes-prog-content #sceneicon-sel .img-list li {
  height: 80px;
}

#system .setup-area .scenes #scenes-prog-content #sceneicon-sel span {
  vertical-align: top;
}

#system .scenes #scenes-prog-content #sceneicon-sel .button {
  width: 70px;
  height: 23px;
}

#system .setup-area .scenes #scenes-prog-content .content-area .multi-col-list {
  height: 225px;
  text-align: left;
}

#system .setup-area .scenes #scenes-prog-content .content-area .multi-col-list tr {
  display: inline-block;
  width: 310px;
}

/*for Images icons START*/
#system .setup-area .scenes #scenes-prog-content .content-area .multi-col-list .inter-img {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  margin-left: 5px;
  margin-right: 5px;
}
#system .setup-area .scenes #scenes-prog-content .content-area .multi-col-list .inter-sub-img {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  margin-left: 5px;
}
#system .setup-area .scenes #scenes-prog-content .content-area .multi-col-list .inter-val {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-bottom: -5px;
}
#system .setup-area .scenes #scenes-prog-content .content-area .multi-col-list .inter-unit {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: -5px;
}
/*for Images icons END*/

#system .setup-area .scenes #delay-set {
  position: absolute;
  top: 90px;
  left: 130px;
  right: 5px;  
  width: 220px;
}

#system .setup-area .scenes #delay-set .delay {
  width: 44px;
}

#system .setup-area .scenes #command-set {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;  
  width: 550px;
}

#system .setup-area .scenes #command-set .panel {
  display: inline-block;
  vertical-align: top;
}

#system .setup-area .scenes #command-set .button-area {
  float: none;
  text-align: right;
}

#system .setup-area .scenes #command-set .button-area select {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#system .setup-area .scenes #command-set .button-area #management-point {
  float: left;
}

#system .setup-area .scenes .an-action {
  display: inline-block;
  padding: 10px 5px 5px 10px;
}
#system .setup-area .scenes .an-action li {
  opacity: 1;
}
#system .setup-area .scenes .an-action .img-button {
  width: 40px;
  vertical-align: middle;
  margin-top: -7px;
}
#system .setup-area .scenes .an-action .current-val {
  font-size: 28px;
}
#system .setup-area .scenes .an-action .unit {
  font-size: 20px;
  color: white;
}
#system .setup-area .scenes .an-action .selectable-img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
}
#system .setup-area .scenes .an-action .selectable-img img {
  width: 50px;
  border: none;
}
#system .setup-area .scenes .an-action .current-val {
  width: 50px;
}
#system .setup-area .scenes .an-action #sbhsp {
  margin-left: 15px;
}
/* scenes end */

#system .setup-area .broadlink .pulldown {
  width: 180px;
  margin: 10px 0;
}
#system .setup-area .broadlink .command-display .list {
  width: 380px;
  min-height: 200px;
  max-height: 250px;
  overflow: auto;
}
#system .setup-area .broadlink .save_learned_command {
  margin-top: 20px;
}
#system .setup-area .broadlink .save_learned_command .button-area {
  text-align: left;
}

/* PPD setup screen */
#ppd .menu-area .menu-item#back1 {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  bottom: 0px;
}

#ppd .setup-area {
  padding: 20px;
}
#ppd .setup-area .setup {
  display: none;
}
#ppd .setup-area .title {
  font-size: 24px;
  color: white;
}
/* From PS1 */
#ppd .tenant-list {
  float: left;
  border: 1px inset white;
  border-radius: 5px;
  width: 340px;
  height: 452px;
  padding: 5px;
  list-style: none;
  overflow: auto;
  margin-top: 3px;
}

#ppd .tenant-list .tenant {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

#ppd .tenant-list .selected {
  background-color: royalblue;
  color: white;
}

#ppd .tenant-list .charged {
  font-size: 18px;
}

#ppd .tenant-list .warn {
  color: red;
}

#ppd .panel {
  float: left;
}

#ppd .setup-area .frame {
  border-radius: 5px;
  border: 1px inset gray;
  margin: 4px 0 20px 20px;
  padding: 5px;
}

#ppd .setup-area .frame .title {
  display: block;
  text-align: left;
  margin-top: 0px;
}

#ppd .period .mls {
  font-size: 14px;
  margin-left: 10px;;
}

#ppd .period input {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 90px;
}

#ppd .setup-area .owner table {
  border-collapse: collapse;
}

#ppd .setup-area .owner table td{
  border: 0;
}  

#ppd .setup-area .owner table input {
  width: 550px;
}

#ppd .setup-area .owner .button {
  margin: 30px 10px 0 20px;
}
/* ppd currency start*/
#ppd .setup-area .unitprice .currency-panel {
  float: left;
  overflow: auto;
}

#ppd .setup-area .unitprice .currency {
  margin: 10px 0;	/*first value top and bottom, second value left and right. */
}

#ppd .setup-area .unitprice .currency span {
  margin: 0 10px 0 0px; /*top, right, bottom, left*/
}

#ppd .setup-area .unitprice .currency input {
  width: 70px;
  text-align: center;
}

#ppd .setup-area .unitprice .price-title {
  font-size: 20px;
}

#ppd .setup-area .unitprice table {
  border-collapse: collapse;
}

#ppd .setup-area .unitprice table td{
  border: 0;
} 

#ppd .setup-area .unitprice table .subtitle {
  text-align: center;
}
#ppd .setup-area .unitprice table .tzp {
  opacity: 0.4;
}
#ppd .setup-area .unitprice table .priority {
  color: white;
  text-align: center;
  cursor: pointer;
}
#ppd .setup-area .unitprice table .name input {
  width: 100px;
  font-size: 16px;
  text-align: left;
}
#ppd .setup-area .unitprice table .tzf input {
  margin: 0 0 0 10px;
  width: 50px;
  font-size: 16px;
  text-align: center;
}
#ppd .setup-area .unitprice table .tzt input {
  margin: 0 10px 0 0;
  width: 50px;
  font-size: 16px;
  text-align: center;
}
#ppd .setup-area .unitprice table .t6 td {
  padding: 20px 0 20px 0;
}
#ppd .setup-area .unitprice table .t6 .tzf input {
  border: none;
  color: black;
  background-color: white;
}
#ppd .setup-area .unitprice table .t6 .tzt input {
  border: none;
  color: black;
  background-color: white;
}
#ppd .setup-area .unitprice table .price {
  text-align: center;
}
#ppd .setup-area .unitprice table .price input {
  width: 60px;
  font-size: 16px;
  text-align: right;
}
#ppd .setup-area .unitprice table .t1 .price input {
  color: white;
  background-color: red;
}
#ppd .setup-area .unitprice table .t2 .price input {
  color: black;
  background-color: yellow;
}
#ppd .setup-area .unitprice table .t3 .price input {
  color: white;
  background-color: royalblue;
}
#ppd .setup-area .unitprice table .t4 .price input {
  color: black;
  background-color: lime;
}
#ppd .setup-area .unitprice table .t5 .price input {
  color: black;
  background-color: mistyrose;
}
#ppd .setup-area .unitprice table .t6 .price input {
  color: black;
  background-color: gold;  
}
#ppd .setup-area .unitprice table .unit {
  font-size: 12px;
}
#ppd .setup-area .unitprice .zone-price {
  margin: 0 0 0 50px;
}
#ppd .setup-area .unitprice .calendar-panel {
  clear: both;
}
#ppd .setup-area .unitprice .time-select {
  position: absolute;
  display: none;
  width: 70px;
  height: 90px;
  overflow: auto;
  border: 1px solid gray;
  background-color: white;
  color: black;
}
#ppd .setup-area .unitprice .time-select ul {
  list-style-type: none;
  padding: 0;
}
#ppd .setup-area .unitprice .time-select li {
  border-radius: 0;
  padding: 1px 5px;
  font-size: 14px;
}
#ppd .setup-area .unitprice .time-select ul .selected {
  background-color: royalblue;
  color: white;
}

/* calendar design */
.calendar-ppd {
  font-size: 28px;
  color: white;
  margin: 5px;
}
.calendar-ppd .month {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 24px;
}
.calendar-ppd .year {
  margin-left: 10px;
  font-size: 18px;
}
.calendar-ppd .button-area .button {
  font-size: 14px;
  padding: 5px 5px;
}
.calendar-ppd .dow {
  font-size: 18px;
  color: aquamarine;
  text-align: center;
}
.calendar-ppd td {
  text-align: right;
  padding: 5px 5px 0 5px;
  cursor: pointer;
}
.calendar-ppd td.date {
  color: black;
  background-color: yellow;
}
.calendar-ppd td.day {
  color: black;
  background-color: lime;
}

#ppd .setup-area .unitprice .calendar-panel .month-area {
  width: 280px;
  text-align: center;
}

#ppd .setup-area .unitprice .calendar-panel .button {
  margin: auto;
  clear: none;
  float: none;
}

#ppd .setup-area .unitprice .calendar-panel .month {
  margin: auto;
}

#ppd .setup-area .unitprice .calendar-panel #prev {
  float: left;
}

#ppd .setup-area .unitprice .calendar-panel #next {
  float: right;
}
#ppd .setup-area .unitprice .calendar-panel .year {
  font-size: 24px;
}	
#ppd .setup-area .unitprice .calendar-panel .calendar-ppd td {
/*  border: 1px solid white;*/
}
#ppd .setup-area .unitprice .button {
  margin: 30px 10px 0 20px;
  clear: both;
  float: left;
}
/* PPD Currency end */

/* Tenant Edit Start */
.screen .tenant-edit {
  width: 650px;
  color: white;
}

.tenant-edit .tenant-name-sect {
  margin-bottom: 10px;
}

.tenant-edit .regend {
  font-size: 18px;
  margin-right: 5px;
}
.tenant-edit input {
  font-size: 24px;
  width: 300px;
}

.tenant-edit .name {
  font-size: 18px;
  width: 200px;
  text-align: center;
}

.tenant-edit .registered-points {
  display: inline-block;
  margin: 10px 5px 0 0;
}

.tenant-edit .un-registered-points {
  display: inline-block;
  margin: 10px 0 0 5px;
}

.tenant-edit .reg-button-panel {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
}

.tenant-edit .reg-button-panel .button {
  margin: 30px 10px 0 20px;
  display: block;
}

.tenant-edit .point-list {
  width: 200px;
  height: 200px;
  border: 2px inset gray;
  margin-top: 3px;
  padding: 2px;
  overflow: auto;
}

.tenant-edit .op-panel {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 0 20px;
}

.tenant-edit .point-list li {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tenant-edit .point-list .selected {
  background-color: royalblue;
  color: white;
}

.tenant-edit .limit {
  margin-top: 20px;
}
.tenant-edit .limit .title {
  font-size: 18px;
  margin-right: 10px;
}
.tenant-edit .limit .currency {
  font-size: 14px;
  width: 40px;
  text-align: right;
}
.tenant-edit .limit input {
  font-size: 24px;
  width: 100px;
  text-align: left;
  margin-left: 5px;
  border: none;
}
.tenant-edit .limit .note {
  font-size: 12px;
  margin: 0 0 0 10px;
}
.tenant-edit .limit .period {
  margin: 15px 0 0 0px;
}
.tenant-edit .limit .period span {
  font-size: 18px;
  margin: 0
}
.tenant-edit .limit .period input {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.charge {
  margin: auto;
  padding: 25px;
  font-size: 18px;
  color: white;
}
.charge .tenant-name {
  font-size: 28px;
}
.charge table td {
  border-style: none;
}
.charge table .item-title {
  min-width: 120px;
}
.charge table .currency {
  text-align: right;
}
.charge table #remain .value {
  font-size: 30px;
}
.charge table input {
  width: 80px;
  font-size: 20px;
}
.charge .op-panel .button {
  margin: 30px 10px 0 20px;
}
/* Tenant Edit End */

/*Bill start*/
#bill .menu-area .menu-item#back2 {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  bottom: 0px;
}

@media screen {
  /* A4 210mmx297mm*/
  #bill .page {
    /*top: 65px; //top is drawn in JavaScript, no need.*/ 
    left:50%;
    width: 630px;
    height: 1000px;
	font-family: 'Nunito';
    background-color: white;
    position: relative;
    clear: both;
    padding: 25px 60px;
    margin: 2px auto 2px -360px;
    border: solid 1px black;
    box-shadow: 2px 2px 2px;
  }
  
  #bill .bill-title {
	  text-align: left;
	  font-size: 30px;
	}

  #bill .bill-title img {
    height: 100px;
  }

	#bill .page .owner {
	  width: 250px;
	  margin:  20px 10px 0 400px;
	}

	#bill .p1 .owner {
	  width: 250px;
	  margin:  100px 10px 0 400px;
	}

	#bill .owner .name {
	  font-size: 18px;  
	  margin: 0;
	}
	#bill .owner .address {
	  font-size: 11px;
	  line-height: 11px;
	  margin: 0 0 0 10px;
	}
	#bill .owner .contact {
	  font-size: 10px;
	  line-height: 10px;
	  margin: 5px 0 0 20px;
	}

	#bill .print-date {
	  font-size: 14px;
	  margin: 20px 0 0 420px;
	  text-align: left;
	}

	#bill .tenant-name {
	  font-size: 36px;
	  margin: 10px 0 10px 0;
	  border-bottom: solid 1px black;
	  width: 15em;
	  padding-left: 0.5em;
	}

	#bill .page .data-table {
	  margin: 50px auto;  
	  font-size: 14px;
	}

	#bill .p1 .data-table {
	  margin: 5px auto;
	  font-size: 16px;
	}
	#bill .p2 .data-table {
	  margin: 5px auto;
	}

	#bill .page .data-table .pname {
	  padding: 0 0 0 5px;
	}
	#bill .page .data-table .zname {
	  text-align: right;
	  padding: 0 5px 0 0;
	}

	#bill .page .data-table th {
	  font-size: 12px;
	}
	#bill .p1 .data-table .zone-name {
	  width: 180px;
	  padding: 2px 0 0 10px;
	}
	#bill .p1 .data-table .power {
	  width: 150px;
	  padding: 2px 10px 0 0;
	  text-align: right;
	}
	#bill .p1 .data-table .unit-price {
	  width: 140px;
	  padding: 2px 10px 0 0;
	  text-align: right;
	}
	#bill .p1 .data-table .price {
	  width: 150px;
	  padding: 2px 10px 0 0;
	  text-align: right;
	}
	#bill .p1 .data-table #total .unit-price {
	  border: none;
	}

	#bill .table-title {
	  margin-top: 20px;
	  font-size: 20px;
	}
	#bill .tunit {
	  font-size: 14px;
	  margin-left: 10px;
	}
	#bill .data-period {
	  margin: 5px 0 5px 20px;
	  font-size: 14px;
	}

	#bill .data-period .date {
	  font-size: 18px;
	}

	#bill .data-table .pname {
	  width: 180px;
	}
	#bill .data-table .zname {
	  width: 100px;
	}

	#bill .total {
	  display: inline-block;
	  margin: 30px 0 10px 60px;
	  padding: 0 10px 0 5px;
	  font-size: 18px;
	  border-bottom: 1px solid black;
	}

	#bill .total .currency {
	  font-size: 28px;
	}

	#bill .total .result {
	  font-size: 36px;
	}

	#bill .data-table {
	  margin: 25px 10px 5px 20px;
	  border-collapse: collapse;
	}

	#bill .data-table th {
	  border: 1px black solid;
	}
	
	#bill .data-table td {
	  border: 1px black solid;
	}

	#bill .data-table th {
	  font-size: 14px;
	}
	#bill .data-table th.name {
	  width: 15em;
	}

	#bill .data-table th.value {
	  width: 8em;
	}

	#bill .data-table th.op-time {
	  width: 7em;
	}

	#bill .data-table th.on-times {
	  width: 7em;
	}

	#bill .data-table td.name {
	  text-align: left;
	  padding-left: 0.5em;
	}

	#bill .data-table td.value, td.op-time, td.on-times {
	  text-align: right;
	  padding-right: 0.5em;
	}

	#bill .data-table .none {
	  border: none;
	}	
}

@media print {
  @page {
    size: A4 portrait !important;
    margin: 2cm !important;
  }		 
	
  body * {
    visibility: hidden;	  
    overflow: visible !important;	
  }
  
  #bill .page * {
    visibility: visible;
  }  
  
  #bill .page {
	width: 100% !important; /**/
    margin: 0px !important; /**/
    padding: 0px !important; /**/
    font-family: 'Nunito';
    page-break-before: always;
  }  
    
  #bill .page#p1 {
    page-break-before: avoid;
  }	

  #bill .menu-area {
    display: none;
  }
  
  #bill .bill-title {
	  text-align: left;
	  font-size: 60px;
	}

  #bill .bill-title img {
    height: 160px;
  }
	
	#bill .page .owner {
	  width: 500px;
	  margin:  120px 10px 0 800px !important;
	}

	#bill .p1 .owner {
	  width: 500px;
	  margin:  200px 10px 0 800px !important;
	}

	#bill .owner .name {
	  font-size: 36px;
	  margin: 0;
	}
	#bill .owner .address {
	  font-size: 22px;
	  line-height: 22px;
	  margin: 0 0 0 10px;
	}
	#bill .owner .contact {
	  font-size: 20px;
	  line-height: 20px;
	  margin: 5px 0 0 20px;
	}

	#bill .print-date {
	  font-size: 28px;
	  margin: 20px 0 0 820px;
	  text-align: left;
	}

	#bill .tenant-name {
	  font-size: 72px;
	  margin: 10px 0 10px 0;
	  border-bottom: solid 1px black;
	  width: 15em;
	  padding-left: 0.5em;
	}

	#bill .page .data-table {
	  font-size: 28px;
	  margin: 0 0 10px 0 !important;
	  width: 90%; /**/
	  padding-left: 0.5em;
	}

	#bill .p1 .data-table {
	  margin: 5px auto;
	  font-size: 32px;
	}
	#bill .p2 .data-table {
	  margin: 5px auto;
	}

	#bill .page .data-table .pname {
	  padding: 0 0 0 5px;
	}
	#bill .page .data-table .zname {
	  text-align: right;
	  padding: 0 5px 0 0;
	}

	#bill .page .data-table th {
	  font-size: 24px;
	}
	#bill .p1 .data-table .zone-name {
	  width: 180px;
	  padding: 2px 0 0 10px;
	}
	#bill .p1 .data-table .power {
	  width: 150px;
	  padding: 2px 10px 0 0;
	  text-align: right;
	}
	#bill .p1 .data-table .unit-price {
	  width: 140px;
	  padding: 2px 10px 0 0;
	  text-align: right;
	}
	#bill .p1 .data-table .price {
	  width: 150px;
	  padding: 2px 10px 0 0;
	  text-align: right;
	}
	#bill .p1 .data-table #total .unit-price {
	  border: none;
	}

	#bill .table-title {
	  margin-top: 20px;
	  font-size: 40px;
	  white-space: nowrap; 
	}
	#bill .tunit {
	  font-size: 28px;
	  margin-left: 10px;
	}
	#bill .data-period {
	  margin: 5px 0 5px 20px;
	  font-size: 28px;
	}

	#bill .data-period .date {
	  font-size: 36px;
	}

	#bill .data-table .pname {
	  width: 180px;
	}
	#bill .data-table .zname {
	  width: 100px;
	}

	#bill .total {
	  display: inline-block;
	  margin: 100px 0 30px 100px;
	  padding: 0 10px 5px 5px;
	  font-size: 36px;
	  border-bottom: 1px solid black;
	  white-space: nowrap;
	}

	#bill .total .currency {
	  font-size: 56px;
	}

	#bill .total .result {
	  font-size: 72px;
	}

	#bill .data-table {
	  margin: auto;
	  border-collapse: collapse;
	  width: 100%;
	}

	#bill .data-table th, td {
	  border: 1px black solid;
	  white-space: nowrap;
	}

	#bill .data-table th {
	  font-size: 28px;
	}
	#bill .data-table th.name {
	  width: 15em;
	}

	#bill .data-table th.value {
	  width: 8em;
	}

	#bill .data-table th.op-time {
	  width: 7em;
	}

	#bill .data-table th.on-times {
	  width: 7em;
	}

	#bill .data-table td.name {
	  text-align: left;
	  padding-left: 0.5em;
	}

	#bill .data-table td.value, td.op-time, td.on-times {
	  text-align: right;
	  padding-right: 0.5em;
	}

	#bill .data-table .none {
	  border: none;
	}	
} 
/* bill end */

/* Charge-log start*/ 
.charge-log .log-content {
  margin-top: 60px;
}

.scrol-frame {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0;
  overflow: auto;
}

.charge-log .log-content {
  margin-top: 10px;
}
.charge-log .header table {
  width: 860px;
}
.charge-log .scrol-frame {
  width: 860px;
}
.charge-log table {
  border-collapse: collapse;
  color: white;
}
.charge-log table th {
  font-size: 14px;
}
.charge-log table td {
  border: none;
}
.charge-log table th:first-child {
  width: 200px;
}
.charge-log table th:nth-child(2) {
  width: 240px;
}
.charge-log table th:nth-child(3) {
  width: 120px;
}
.charge-log table th:nth-child(4) {
  width: 120px;
}
.charge-log table th:nth-child(5) {
  width: 160px;
}
.charge-log table tr td:first-child {
  width: 200px;
  text-align: center;
}
.charge-log table tr td:nth-child(2) {
  width: 240px;
  text-align: center;
}
.charge-log table tr td:nth-child(3) {
  width: 120px;
  text-align: right;
}
.charge-log table tr td:nth-child(4) {
  width: 120px;
  text-align: right;
}
.charge-log table tr td:nth-child(5) {
 width: 160px;
 text-align: center;
}
/*Bill and Charge-log end*/

/*interlock start*/
#interlock .add {
  text-align: center;
}  

#interlock #interlock-prog-list {
  width: 290px;
}

#interlock .check .checked img {
  opacity: 1;
}

#interlock #interlock-prog-content {
  position: absolute;
  top: 10px; 
  left: 0px;
  width: 1014px;
  max-height: 450px;
  padding: 10px 0;
  overflow: auto;
}

#interlock #interlock-prog-content .list-title {
  font-size: 30px;	
  display: inline;
}	

#interlock #interlock-prog-content .content-area .selectable-list{
  display: inline-block;
  width: 330px;
  min-height: 300px;
}

#interlock #interlock-prog-content .content-area .multi-col-list {
  height: 250px;
  text-align: right;
}

#interlock #interlock-prog-content .content-area .multi-col-list td{
  text-align: left;
}
/*for Images icons START*/
#interlock #interlock-prog-content .content-area .multi-col-list .inter-img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
#interlock #interlock-prog-content .content-area .multi-col-list .inter-sub-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-left: 5px;
}
#interlock #interlock-prog-content .content-area .multi-col-list .inter-val {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-bottom: -5px;
}
#interlock #interlock-prog-content .content-area .multi-col-list .inter-unit {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: -5px;
}
/*for Images icons END*/

#interlock .button-area {
  /*float: right;*/
}

#interlock .inline {
  display: inline-block;
}

#interlock #interlock-prog-content input {
  width: 260px;
}

#interlock #interlock-prog-content .timer1 {
  display: inline-flex;
  float: right;
}

#interlock #interlock-prog-content .timer1 input {
  width: 50px;
}

#interlock #interlock-prog-content .timer1 .mls {
  color: white;
  padding: 10px 0;
}

#interlock #interlock-prog-content .timer2 {
  display: inline-flex;
  float: right;
}

#interlock #interlock-prog-content .timer2 input {
  width: 50px;
}

#interlock #interlock-prog-content .timer2 .mls {
  color: white;
  padding: 10px 0;
}

#interlock #interlock-prog-content select{
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 320px;
}

#interlock #interlock-prog-content #inter-input .multi-col-list {
  margin-top: 52px;
}

#interlock #interlock-prog-content #ctrl-target {
  float: left;
}
#interlock #interlock-prog-content #inter-list {
  float: right;
  margin-top: 4px;
}
#interlock #interlock-prog-content #ctrl-target .list {
  width: 200px; 
  /* height is controlled by resize method */
}
#interlock #interlock-prog-content #inter-list .multi-col-list {
  width: 440px; 
  /* height is controlled by resize method */  
}
#interlock #interlock-prog-content #inter-list .multi-col-list .inter-name {
  width: 280px;
  border: 0;
}
#interlock #interlock-prog-content #inter-list .multi-col-list .inter-name td{
  border: 0;
}
#interlock #interlock-prog-content #inter-list .multi-col-list .dow {
  width: 160px;
}
#interlock #interlock-prog-content #inter-list .dow-name {
  font-size: 16px;
  color: white;
  background-color: royalblue;
  margin: 0 1px;
  padding: 3px 3px 1px 3px;
  text-align: center;
  border-radius: 3px;
}

#interlock #input-set {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;  
  width: 580px;
}
#interlock #input-set select {
	width: 280px;
}
#interlock #input-set .panel {
  display: inline-block;
  vertical-align: top;
}
#interlock #input-set .button-area {
  float: none;
  text-align: right;
}

#interlock #input-set .button-area select {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#interlock #input-set .button-area #input-point{
  float: left;
}

#interlock #input-set .an-action#temp {
  float: none;
  display: inline-block;
  padding: 5px 0px;
}	

#interlock #input-set .temp-condition {
  display: inline-block;
}

#interlock #input-set #temp-condition {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: auto;
}

#interlock #input-set .an-action#brightness {
  float: none;
  display: inline-block;
  padding: 5px 0px;
}	

#interlock #input-set .av-condition {
  display: inline-block;
}

#interlock #input-set #av-condition {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 65px;
}

#interlock .an-action {
  display: inline-block;
  padding: 10px 5px 5px 10px;
}
#interlock .an-action li {
  opacity: 1;
}
#interlock .an-action .img-button {
  width: 40px;
  vertical-align: middle;
  margin-top: -7px;
}
#interlock .an-action .current-val {
  font-size: 28px;
  width: 50px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
#interlock .an-action .av-val {
  font-size: 20px;
  width: 65px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
#interlock .an-action .av-input {
  display: inline-block;
}
#interlock .an-action .unit {
  font-size: 20px;
  color: white;
}
#interlock .an-action .selectable-img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
}
#interlock .an-action .selectable-img img {
  width: 50px;
  border: none;
}
#interlock .an-action #sbhsp {
  margin-left: 15px;
}

#interlock #input-set #patn-list {
  width: 180px;
}
#interlock #input-set #daily-patn {
  opacity: 1;
}
#interlock #input-set #daily-patn.hide {
  opacity: 0.3;
}
#interlock #input-set #daily-patn .button-area .button {
  font-size: 14px;
  padding: 1px 5px;
}
#interlock #input-set #daily-patn .multi-col-list {
  width: 480px;
}
#interlock #input-set #daily-patn .time {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-top: 5px;
}
#interlock #input-set #daily-patn .action {
  width: 450px;
}
#interlock #input-set #daily-patn .sched-img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
#interlock #input-set #daily-patn .sched-sub-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-left: 5px;
}
#interlock #input-set #daily-patn .sched-val {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-bottom: -5px;
}
#interlock #input-set #daily-patn .sched-unit {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: -5px;
}

#interlock #output-set {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;  
  width: 550px;
}
#interlock #output-set select {
	width: 280px;
}
#interlock #output-set .panel {
  display: inline-block;
  vertical-align: top;
}
#interlock #output-set .button-area {
  float: none;
  text-align: right;
}

#interlock #output-set .button-area select {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#interlock #output-set .button-area #output-point{
  float: left;
}

#interlock #output-set #patn-list {
  width: 180px;
}
#interlock #output-set #daily-patn {
  opacity: 1;
}
#interlock #output-set #daily-patn.hide {
  opacity: 0.3;
}
#interlock #output-set #daily-patn .button-area .button {
  font-size: 14px;
  padding: 1px 5px;
}
#interlock #output-set #daily-patn .multi-col-list {
  width: 480px;
}
#interlock #output-set #daily-patn .time {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-top: 5px;
}
#interlock #output-set #daily-patn .action {
  width: 450px;
}
#interlock #output-set #daily-patn .sched-img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
#interlock #output-set #daily-patn .sched-sub-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-left: 5px;
}
#interlock #output-set #daily-patn .sched-val {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-bottom: -5px;
}
#interlock #output-set #daily-patn .sched-unit {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: -5px;
}
/*for Images icons START*/
#interlock #output-set #scenes_display {
  color: white;
  font-size: 20px;
}
#interlock #output-set #scenes_display div {
	margin-bottom: 5px;
}
#interlock #output-set #scenes_display .inter-img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
#interlock #output-set #scenes_display .inter-sub-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-left: 5px;
}
#interlock #output-set #scenes_display .inter-val {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-bottom: -5px;
}
#interlock #output-set #scenes_display .inter-unit {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-right: 5px;
  /*margin-bottom: -5px;*/
}
/*for Images icons END*/
/* interlock end */

/*scenes button start*/
.scenesbutton {
  display: inline-block;
  margin: 5px 0 0 5px;
  width: 240px;
  height: 60px;
  box-shadow: 2px 2px 2px 2px navy;
  cursor: pointer;
  background: linear-gradient(
     bottom,
     blue 0%,
     lightcyan 100%
    );
  background: -moz-linear-gradient(
     bottom,
     blue 0%,
     lightcyan 100%
    );
  background: -webkit-linear-gradient(
     bottom,
     blue 0%,
     lightcyan 100%
    );
}

.scenesbutton .name {
    width: 230px;
    height: 30px;
    overflow: hidden;
    margin: 2px 0 0 5px;
    font-size: 24px;
    color: black;
    text-align: right;
}

.scenesbutton .icon-area {
	position: relative;
    display: block;
    top: -24px;
    left: 5px;
    width: 50px;
    height: 50px;
}

.scenesbutton .icon-area .icon {
    width: 50px;
    position: absolute;
    top: 0px;
    left: 10px;
}
/*scenes button end*/

.history .title { 
  width: 1050px;
}	

.history .latest {
  display: inline;  
}

.history .query {
  display: inline;
  padding: 10px 55px;
  width: 1050px;
}

.history .query #recpp {
  margin-right: 100px;
}

.history .query #from {
  width: 150px;
}

.history .query #to {
  width: 150px;
}

.history .query #export {
  margin-right: 320px;
  float: right;
}

.history .table #history thead, .history .table #history tbody {
  display: block;
}

.history .table thead {
  font-weight: bold;
}

.history .table tbody {
  height: 405px;
  overflow: auto;
}

.history table {
  border-collapse: collapse;
  width: 1050px;
  color: white;
  overflow: auto;
  overflow-x: auto;
  table-layout: fixed;
}

.history th, .history td {
  font-size: 14px;
  padding: 8px;	
  text-align: left;
  border-bottom: 1px solid white !important;
}

.history th {
  width: 1050px;
}  

.history .table .date, .history .table #dateth {
  width: 15%;
}	

.history .table .type, .history .table #typeth {
  width: 15%;
}

.history .table .target, .history .table #targetth {
  width: 10%;
}

.history .table .contents, .history .table #contentsth {
  width: 30%;
  min-width: 300px;
}

.history .table .source, .history .table #sourceth {
  width: 15%;
}

.history .table .operator, .history .table #operatorth {
  width: 15%;
} 

.history .table #date {
  cursor: pointer;
}

.history .table #date:active {
  opacity: 0.5;
}

.history .contents-area img {
  cursor: pointer;
}

.history .contents-area img:active {
  opacity: 0.5;
}

.history .table img {
  height: 18px;
  width: auto;
}	
 
.history .table #reset img {
  float: right;
}	

.history .pageNav {
  display: block;
  color: white;
  margin-left: 400px;
}

/* Hotel START */
#hotel #hotel-main, #hotel-pairing, #hotel-delay{
  color: white;
  max-width: 750px;
}

#hotel #hotel-main .slide .enable, #hotel #hotel-main .slide .disable {
  width: 50px;
}

#hotel #hotel-main .current-val {
  width: 38px;
}

#hotel #hotel-main .selectable-list {
  width: 65px !important;
}	

#hotel #hotel-main img {
  width: 40px;
}

#hotel #hotel-main #pointtypetable {
  width: 600px;
  text-align: center;
}

#hotel #hotel-main #pointtypetable .poname, #hotel #hotel-main #pointtypetable .ptype{
  width: 50%;
  min-width: 300px;
}

#hotel #hotel-main .pointtype {
  width: 715px !important;
  max-height: 150px;
  overflow: auto;
}

#hotel #hotel-main .std-frame{
  width: 350px;
}

#hotel #hotel-main .submenu{
  display: flex;
  flex-wrap: wrap;
}

#hotel #hotel-main .submenu .sensortofcu, #hotel #hotel-main .submenu .windowopen1{
  height: 135px;
}

#hotel #hotel-main .submenu .item-title{
  margin-bottom: 15px;
}

#hotel #hotel-main .submenu td {
  height: 40px;
  text-align: left;
}

#hotel #hotel-main .enablemenu table {
  width: 350px;
  height: 130px;
}	

#hotel #hotel-main .button-area{
  margin-top: 5px;
}

#hotel #hotel-pairing {
  position: absolute;
  top: 20px; 
  left: 20px;
  width: 530px;
  max-height: 450px;
  overflow: auto;
}

#hotel #hotel-pairing .item-title {
  display: block;
  margin-bottom: 10px;
}

#hotel #hotel-pairing #screen-list, #hotel #hotel-pairing .pnt-panel {
  width: 250px;
  display: inline-block;
  vertical-align: top;
}
#hotel #hotel-pairing #screen-list {
  padding-left: 5px;
}
#hotel #hotel-pairing #screen-list .list {
  height: 300px;
}
#hotel #hotel-pairing #pnt-select {
  width : 250px;
}
#hotel #hotel-pairing #pnt-select .list {
  height: 300px;
}

#hotel #hotel-delay {
  position: absolute;
  top: 20px; 
  left: 20px;
  width: 380px;
  max-height: 500px;
  overflow: auto;
}
#hotel #hotel-delay .item-title {
  display: block;
  margin-bottom: 10px;
}

#hotel #hotel-delay .delay {
  width: 44px;
  margin-left: 60px;
}

/* Hotel END */

/* Multi Hotel START */
#multihotel #hotel-main, #hotel-pairing, #hotel-delay, #room-detail {
  color: white;
  max-width: 750px;
}

#multihotel #hotel-main .slide .enable, #multihotel #hotel-main .slide .disable {
  width: 50px;
}

#multihotel #hotel-main .current-val {
  width: 38px;
}

#multihotel #hotel-main .selectable-list {
  width: 65px !important;
}	

#multihotel #hotel-main img {
  width: 40px;
}

#multihotel .pointtype .img-button{
  width: 20px;
  margin: 0 0 -3px 10px;
  border-width: 1px;
}

#multihotel #hotel-main .pointtype .img-button{
  width: 20px;
  margin: 0 0 -3px 10px;
  border-width: 1px;
}

#multihotel #pointtypetable {
  width: 700px;
  text-align: center;
}

#multihotel #pointtypetable .tbody .roomname {
  cursor: pointer;
}

#multihotel #pointtypetable .poname, #multihotel #hotel-main #pointtypetable .ptype{
  width: 50%;
  min-width: 300px;
}

#multihotel .pointtype {
  width: 715px !important;
  max-height: 150px;
  overflow: auto;
}

#multihotel #hotel-main .std-frame{
  width: 350px;
}

#multihotel #hotel-main .submenu{
  display: flex;
  flex-wrap: wrap;
}

#multihotel #hotel-main .submenu .sensortofcu, #multihotel #hotel-main .submenu .windowopen1{
  height: 135px;
}

#multihotel #hotel-main .submenu .item-title{
  margin-bottom: 15px;
}

#multihotel #hotel-main .submenu td {
  height: 40px;
  text-align: left;
}

#multihotel #hotel-main .enablemenu table {
  width: 350px;
  height: 130px;
}	

#multihotel #hotel-main .button-area{
  margin-top: 5px;
}

#multihotel #room-detail {
  position: absolute;
  top: 10px; 
  left: 10px;
  width: 715px;
  max-height: 590px;
  overflow: auto;
}

#multihotel #room-detail .button-area{
  float: right;
}

#multihotel #room-detail .pointtype, #multihotel #room-detail .fcupairing {
  width: 700px !important;
  max-height: 300px;
  overflow: auto;
}

#multihotel #room-detail .fcupairing .inline-block {
  display: inline-flex;
}

#multihotel #room-detail .fcupairing #screen-list .list, #multihotel #room-detail .fcupairing #pnt-select .list{
  width: 336px;
  height: 200px;
}

#multihotel #hotel-pairing {
  position: absolute;
  top: 20px; 
  left: 20px;
  width: 530px;
  max-height: 450px;
  overflow: auto;
}

#multihotel #hotel-pairing .item-title, #multihotel #room-detail .fcupairing .item-title {
  display: block;
  margin-bottom: 10px;
}

#multihotel #hotel-pairing #screen-list {
  width: 250px;
  display: inline-block;
  vertical-align: top;
}
#multihotel #hotel-pairing #screen-list {
  padding-left: 5px;
}
#multihotel #hotel-pairing #screen-list .list {
  height: 300px;
}
#multihotel #hotel-pairing #pnt-select {
  width : 250px;
}
#multihotel #hotel-pairing #pnt-select .list {
  height: 300px;
}

#multihotel #hotel-delay {
  position: absolute;
  top: 20px; 
  left: 20px;
  width: 380px;
  max-height: 500px;
  overflow: auto;
}
#multihotel #hotel-delay .item-title {
  display: block;
  margin-bottom: 10px;
}

#multihotel #hotel-delay .delay {
  width: 44px;
  margin-left: 60px;
}

/* Multi Hotel END */

/* Hotel Guest Room Panel */
#guest-rooms .cell {
  height: 85px;
  width: 200px;
  cursor: default;
}

#guest-rooms .cell .name {
  font-size: 32px;
  font-weight: bold;
  color: white;
  height: 34px;
  text-align: left;
}

#guest-rooms .cell .name.occ {
  color: black;
}
#guest-rooms .cell .name.unocc {
  color: white;
}

#guest-rooms .cell .rent-stat {
  float: right;
}

/***************************/

/* connection setting */
.connection #save {
  margin-top: 50px;
}

.connection table {
  background-color: white;
  font-size: 18px;
  margin: 10px 0 20px 40px;
}
.connection table tr * {
  padding: 0 10px 0 10px;
}
.connection table td.id {
  text-align: right;
  cursor: pointer;
}
.connection table td.usb {
  text-align: center;
  cursor: pointer;
}
.connection table td.mod-addr {
  text-align: right;
  cursor: pointer;
}
.connection table td.type {
  text-align: center;
  cursor: pointer;
}
.connection table td.ip-addr {
  cursor: pointer;  
}
.connection table td.port {
  cursor: pointer;
}
.connection table td.del-btn {
  cursor: pointer;
}

.connection .add-dev {
  margin-left: 50px;
}

.connection .note {
  font-size: 16px;
  color: white;
  margin-left: 70px;
}

.connection .pop-in {
  border: 1px solid black;
  font-size: 15px;
}

/* menu area */
.menu-area {
  display: block;
  position: relative;
}
.menu-area * {
  display: inline-block;
  height: 30px;
  font-size: 24px;
  vertical-align: bottom;
  color: white;
}
.menu-area #daikin-logo {
  margin: 0 5px 2px 10px;
}
.menu-area .menu-item {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.menu-area .menu-item:active {
  opacity: 0.3;
}
.menu-area .menu-item img {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
}
.menu-area .menu-item div {
  font-size: 12px;
  margin: 0 auto;
}
.menu-area .menu-item#logout {
  float: right;
}

.menu-area .menu-item#logout {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  bottom: 0px;
}

.menu-area .menu-item#back {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  bottom: 0px;
}

/* initial status */
.screen {
  display: none;
}

/* hide this part */
.hide {
  display: none;
}